[[source]]
verify_ssl = true
url = "https://pypi.org/simple"
name = "pypi"

[packages]
instant-rst = {git = "https://github.com/gu-fan/instant-rst.py.git", editable = true}

[requires]
python_version = "3.5"

[dev-packages]
